<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">100 Days of Code Timeline</h4>
                </div>
                <div class="card-content">
                    <div id="typography">
                        <!--<div class="title">
                            <h2>Timeline</h2>
                        </div>-->
                        <div class="row">
                            <div class="tim-typo">
                                <h2>DAY 1</h2>
                                <p>
                                    <span class="tim-note">March 6th, 2017</span>
                                    
                                    <strong>Today's progress:</strong> I worked a little bit with HTML template in Angular
                                </p><p>
                                    <strong>What I thought:</strong> I spent too much time choosing a frontend technology and a template to work with
                                </p>
                            </div>
                            <div class="tim-typo">
                                <h2>DAY 2</h2>
                                <p>
                                    <span class="tim-note">March 7th, 2017</span>
                                    
                                    <strong>Today's progress:</strong> I worked a little bit with HTML template in Angular
                                </p><p>
                                    <strong>What I thought:</strong> I spent too much time choosing a frontend technology and a template to work with
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
