<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="water-leaf">
                    <h4 class="title">Integrations</h4>
                    <p class="category">Choose which repositories to keep track</p>
                </div>
                <div class="card-content table-responsive">
                    <form>
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let repo of repos">
                                    <td><md-slide-toggle></md-slide-toggle></td>
                                    <td><strong>{{ repo.name }}</strong></td>
                                    <td>{{ repo.description }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="../assets/img/faces/profile.jpg" />
                    </a>
                </div>

                <div class="content">
                    <h6 class="category text-gray">Web Developer</h6>
                    <h4 class="card-title">Rodrigo Souza</h4>
                    <p class="card-content">
                        Quem se define se limita
                    </p>
                    <a href="#pablo" class="btn btn-theme btn-round">Follow</a>
                </div>
            </div>

             <div class="card card-profile" style="margin-top: 70px">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="../assets/img/faces/profile.jpg" />
                    </a>
                </div>

                <div class="row"></div>

                <div class="content">
                    <h6 class="category text-gray">Web Developer</h6>
                    <h4 class="card-title">Rodrigo Souza</h4>
                    <p class="card-content">
                        Quem se define se limita
                    </p>
                    <a href="#pablo" class="btn btn-theme btn-round">Follow</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
