<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="water-leaf">
                    <h4 class="title">Integrations</h4>
                    <p class="category">Choose which repositories to keep track</p>
                </div>
                <div class="card-content">
                    <form>
                        <div class="row" *ngFor="let repo of repos">
                            <div class="col-md-6">
                                <md-slide-toggle>
                                    {{ repo.name }}
                                </md-slide-toggle>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-theme pull-right">Save</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="../assets/img/faces/profile.jpg" />
                    </a>
                </div>

                <div class="content">
                    <h6 class="category text-gray">Web Developer</h6>
                    <h4 class="card-title">Rodrigo Souza</h4>
                    <p class="card-content">
                        Quem se define se limita
                    </p>
                    <a href="#pablo" class="btn btn-theme btn-round">Follow</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
