<div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/SmallLogo.png"/>
        </div>
        100 Days of Code
    </a>
</div>
<div class="sidebar-wrapper">
    <div class="nav-container">
        <ul class="nav">
            <li *ngFor="let item of menuItems" routerLinkActive="active">
                <a  [routerLink]="[item.path]">
                    <i class="{{item.icon.class}}">{{item.icon.name}}</i>
                    <p>{{item.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
