<footer>
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://rasouza.com.br">
                        Home
                    </a>
                </li>
                <li>
                    <a href="https://rasouza.com.br/portfolio">
                        Portfolio
                    </a>
                </li>
                <li>
                    <a href="https://rasouza.com.br/blog">
                       Blog
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="https://rasouza.com.br">R. A. Souza</a>
        </p>
    </div>
</footer>
